<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>About</title>
</head>
<body style="background-color: #ffc107; margin-top: 100px;">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <h1 class="judul" style="text-align: center; margin-top: 0;">About</h1>
                <br>
                <br>
                <div class="container" style="margin-left: 100px;padding-right: 250px;">
                    <h5>Author : Muhammad Farid Adilazuarda</h5>
                    <br>
                    <h5></h5>
                    <h5>Website ini adalah website untuk melakukan penerjemahan 
                        dari bahasa Indonesia ke bahasa Sunda atau dari bahasa Sunda ke bahasa Indonesia. Website 
                        ini dibuat untuk memenuhi tugas seleksi asisten Laboratorium IRK.</h5>
                    <br>
                    <h5>Website ini dibuat dengan menggunakan Flask, Python, HTML, dan Bootstrap.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>