<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>Guide</title>
</head>
<body style="background-color: #ffc107; margin-top: 100px;">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <h1 class="judul" style="text-align: center;margin-top: 0;">How to Use</h1>
                <br>
                <br>
                <div class="container" style="margin-left: 100px;padding-right: 250px;">
                    <h5>1. Jalankan web Sundanese Translator pada browser</h5>
                    <h5>2. Pilih mode terjemahan. Sesuaikan dengan kalimat yang akan diterjemahkan</h5>
                    <h5>3. Pilih metode/algoritma yang ingin digunakan</h5>
                    <h5>4. Masukkan kalimat yang ingin diterjemahkan sesuai dengan pilihan terjemahan</h5>
                    <h5>5. Tekan tombol Translate untuk mulai menerjemahkan</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>